*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata

/.kotlin/
/viewer-sdk-android/src/main/Il2CppOutputProject/
/viewer-sdk-android/src/main/assets/
/viewer-sdk-android/src/main/jniLibs/
/viewer-sdk-android/src/main/jniStaticLibs/
/viewer-sdk-android/symbols/
/viewer-sdk-android/libs/
/gradle/wrapper/
